<mat-toolbar>
   CONTACT US
</mat-toolbar>
<mat-card>
   <mat-card-title>
      Want to get in touch? Fill out the form below to send me a message 
      and I will get back to you as soon as possible.
   </mat-card-title>
   <mat-card-content>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>   
      <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
      <form>
         <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" name="first" [(ngModel)]="contact.firstname">
         </mat-form-field>
         <br />
         <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" name="last" [(ngModel)]="contact.lastname">
         </mat-form-field>
         <br />
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" [(ngModel)]="contact.email">
         </mat-form-field>
         <br />
         <mat-form-field class="full-width">
            <mat-label>Subject</mat-label>
            <input matInput placeholder="Subject" name="subject" [(ngModel)]="contact.subject">
         </mat-form-field>
         <br />
         <mat-form-field class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Message" name="message" [(ngModel)]="contact.message"></textarea>
         </mat-form-field>
      </form>  
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="onSubmit();" color="primary">SUBMIT</button>
   </mat-card-actions>
</mat-card>
<p>   
</p>