.example-container {
    display: flex;
    flex-direction: column;
    max-height: 550px;
    min-width: 300px;
    overflow: hidden;
  }
  
  .isbn-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
  .button-row {
    margin: 10px 0;
  }

  .highlight {
    background-color: yellow;
  }

  .iconLink
  {    
    margin-left: 10px;
    margin-right: 10px;      
    position: relative;
    bottom: 10px;
    color: #3f51b5;
  }

  td.mat-cell {
    font-size: small;   
    padding:5px;    
  }