<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>1830 Brighton Penny Post</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/1830 Brighton Penny Post.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>1841 Maltese Cross</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/1841 Maltese Cross.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>Milwaukee Precancel Error</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/Milwaukee Precancel Error.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>GLYN Perfin</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/GLYN Perfin.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
</div>
<br />
<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>1872 London EC Duplex</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/1872 London EC Duplex.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>Q000.6 front</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/Q000.6 front.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>Rare 48ED29</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/Rare 48ED29.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>N048.5I NCH Perfin 1870</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="../assets/images/N048.5I NCH Perfin 1870.jpg">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
</div>
<br />
<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>Image</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="" alt="&nbsp;photo">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>Image</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="" alt="&nbsp;photo">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>Image</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="" alt="&nbsp;photo">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card>
      <mat-card-title>Image</mat-card-title>
      <mat-card-content>
        <img mat-card-image class="img" src="" alt="&nbsp;photo">
      </mat-card-content>
      <mat-card-footer><a href="#" onclick="return false;">Details...</a></mat-card-footer>
    </mat-card>
  </div>
</div>