mat-card 
{   
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}


#container {
  display: flex; 
  align-content:right;
  flex-direction:row; 
  margin:10px;
}

.example-full-width {
  width: 100%;
}

ul {
  padding: 0px;
}
  
.button-row {
  margin: 10px 0;
}  
  
mat-card-footer
{
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: left;
}  
    
.iconLink
{    
  margin-left: 10px;
  margin-right: 10px;      
  position: relative;
  bottom: 10px;
  font-size: large;
  color: #3f51b5;
}

.iconLink1
{    
  margin-left: 10px;
  margin-right: 10px; 
  position: relative;
  bottom: 10px;
}

table {
  width: 100%;
}

  td.mat-cell {
    font-size: small;   
    padding:5px;
  }

  th.mat-header-cell {
    text-align: left;
  }
  
  th.mat-header-cell.cdk-column-author {    
    width: 20%;
  }

  th.mat-header-cell.cdk-column-comment {    
    width: 25%;
    white-space: pre-wrap;
  }

  th.mat-header-cell.cdk-column-createdAt {    
    width: 25%;    
  }

  th.mat-header-cell.cdk-column-edit {    
    width: 5%;
  }

  th.mat-header-cell.cdk-column-delete {    
    width: 5%;
  }
 

#container {
  display: flex;
  justify-content: space-between; 
}

#container > div {
  width: auto;
  height: auto;
}
