<section fxLayout="column" fxFlexAlign="stretch">
  <mat-tab-group #tabs [selectedIndex]="selectedIndex" (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Blog">
      <app-blogPost-main></app-blogPost-main>
    </mat-tab>
    <mat-tab label="Posts">
      <mat-card>
        <app-blogPost-list></app-blogPost-list> 
      </mat-card>
    </mat-tab>
    <mat-tab label="Gallery">
      <mat-card>
        <app-blog-gallery></app-blog-gallery>
      </mat-card>
    </mat-tab>
    <mat-tab label="Exhibits">
      <div id="container">
          <mat-form-field style="width: 100%;">
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="../assets/exhibits/US Private Die Proprietary.pdf">US Private Die Proprietary</mat-option>
                <mat-option value="../assets/exhibits/US Perfins - Their First Year.pdf">US Perfins - Their First Year</mat-option>
                <mat-option value="../assets/exhibits/US Perfins - The Classics and Rarities.pdf">US Perfins - The Classics and Rarities</mat-option>
                <mat-option value="../assets/exhibits/A Journey Through History with a Single Postal Cover.pdf">A Journey Through History with a Single Postal Cover</mat-option>
              </mat-select>
            </mat-form-field>
          <pdf-viewer src="{{selected}}"></pdf-viewer>
      </div>       
    </mat-tab>
    <mat-tab label="Profile">
      <app-profile></app-profile>
  </mat-tab>
  </mat-tab-group>
</section>